.do-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.do-wrapper {
    background: #fff;
    box-shadow: 13px 18px 58px rgb(0 0 0 / 7%);
    padding: 20px;
    margin: 0 10px 20px;
}
.do-btn{
    border: 1px solid transparent !important;
    background-color: #e04641 !important;
    color: #fff !important;
}
.do-btn:hover{
    border: 1px solid #e04641 !important;
    background-color: transparent !important;
    color: #e04641 !important;
    transition: 1s;
}
@media only screen and (min-width: 768px) and (max-width:992px) {
    .do-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 280px) and (max-width:767px) {
    .do-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}