
.skills-wrapper {
    background: #fff;
    box-shadow: 13px 18px 58px rgb(0 0 0 / 7%);
    padding: 20px;
    margin: 0 10px;
}
.progress-title span {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.progress-title p {
    margin: 10px 15px 10px -18px;
    color: #000;
}
.progress-bar{
    width: 250px !important;
    background-color: transparent !important; 
}
.progress-bar-rect-wrapper{
    border: none !important;
    background-color: rgba(221, 221, 221, 0.867) !important;
    height: 3px !important;
    padding: 0px !important;
}
.inner-rect-bar{
    background-color: #00f!important;
}
.rect-progress-bar-percent{
    font-size: 12px !important;
    color: #000 !important;
    margin: 0px 10px !important;
}
