/* .mentor-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */


.review-img {
    border-radius: 4rem!important;
    height: 120px;
    width: 120px;
    border: 5px solid #ddd!important;
    margin: 0 auto!important;
    text-align: center !important;
}
.review-quote {
    font-size: 18px;
    font-style: italic;
    color: #6c757d;
    max-width: 700px;
}

.mentor-wrapper p {
    margin: 0 auto;
}


.slick-next:before, .slick-prev:before {
    font-size: 35px !important;
    color: #e04641 !important;
}

.slick-dots li.slick-active button:before {
    color: #e04641 !important;
    font-size: 20px !important;
}

.slick-dots li button:before {
    font-size: 15px !important;
}