.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-nav .nav-link{
    background-color: #e04641;
    color: #fff;
    margin:10px 10px 20px 0px;
    border-radius: 50%;
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    padding: 0px !important;
}
.contact-nav .nav-link:hover{
    background-color: #000;
    color: #fff;
}
@media only screen and (min-width: 280px) and (max-width:767px) {
    .contact-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
