.my-work-btn{
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 0px !important;
}
.my-work-btn:hover, .my-work-btn:active{
    border-bottom: 2px solid #e04641 !important;
    color: #e04641 !important;
}
.view-all-work-btn{
    border: 1px solid transparent !important;
    background-color: #e04641 !important;
    color: #fff !important;
}
.view-all-work-btn:hover{
    border: 1px solid #e04641 !important;
    background-color: transparent !important;
    color: #e04641 !important;
    transition: 1s;
}

