.about-container{
    -webkit-clip-path: polygon(0 0,100% 9%,100% 100%,0 100%);
    clip-path: polygon(0 0,100% 9%,100% 100%,0 100%);
}

.about-me img {
    width: 166px;
    height: 155px;
    object-fit: cover;
}

.icon-bar a {
    color: #fff;
    height: 42px;
    width: 42px;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    font-weight: 700;
    transition: .3s ease-in;
    text-align: center;
}
.icon-bar a:hover, .icon-bar a:active {
    color: #fff;
}

.about-details p {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Roboto",sans-serif!important;
}

.btn-about{
    padding: 7px 30px !important;
    text-align: center !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    background-color: transparent !important;
}